body {
    background-color: black;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

header {
    text-align: center;
}

h1.title, img.name{
    display: inline-block;
    vertical-align: middle;
}

img.name {
    width: 55px;    
    margin-left: 10px;
}

h2{
    cursor: pointer;
}

h2:hover, span, table td {
    color: blueviolet;
}


img.image-profile {
    width: 250px;
    display: block;
    margin: auto;
    border-radius: 50pc;
}

p {
    width: 50%;
    display: block;
    margin: auto;
}

span{
    font-weight: bold;
}

hr {
    border-color:purple;
    border-style: dashed;
    border-width: .1px;
    width: 55%;
}

table{
    width: 50%;
    margin: auto;
    text-align: center;
}

table th, table td {
    padding: 5px;
}

table th{
    background-color: blueviolet;
}

table tr:hover td {
    background-color:rgb(255 255 255 / 47%) !important;
    color: #FFF;
    cursor: pointer;
}

table tr:nth-child(even) td {
    background-color: white;
}
table tr:nth-child(odd) td {
    background-color: #dedede;
}

section.otros {
    text-align: center;
}

section.otros article.section {
    display: inline-block;
    vertical-align: top;
    width: 15%;
}

section.otros article.section ol li, section.otros article.section ul.skills li {
    font-style: italic;
    text-align: left;
}

section.otros article.section ol li:nth-child(odd), section.otros article.section ul.skills li:nth-child(odd) {
    background-color: blueviolet;
}

#svg-linux, #linux, #svg-windows, #windows, #svg-apple, #apple, ul.skills li #svg-computer, ul.skills li #computer, ul.skills li #svg-chip, ul.skills li #chip{
        fill: white;
        width: 10%;
        padding: 5px 10px;
        vertical-align: middle;
}

ul.skills li #svg-gamepad {
    width: 13%;
    padding: 2px 7px;
    vertical-align: middle;
}

ul.skills li #gamepad {
    fill: white;
    width: 100%;
}
